html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: 'Noto Sans Variable', sans-serif;

  /* Colors */
  --primary: #30343f;
  --secondary: #333;
  --accent: #228cdb;
  --light: #fcf7ff;
}

body {
  font-family: var(--font-family);
  color: var(--primary);
}
